@using HarbourGuru.MVC.ViewModel
@model HarbourIndexViewModel

@{
    ViewData["Title"] = "Harbours in " + Model.CountryName;
}

<p>
    <a asp-action="Create" asp-route-countryCodeA2="@Model.CountryCodeA2" class="btn btn-primary">Create New Harbour</a>
</p>

<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Country Code</th>
            <th scope="col">Harbour Code</th>
            <th scope="col">Harbour Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var harbour in Model.Harbours)
        {
            <tr>
                <td>
                    <a asp-controller="Harbour" asp-action="HarbourCards" asp-route-countryCodeA2="@Model.CountryCodeA2" asp-route-harbourCode="@harbour.HarbourCode">
                        @harbour.Country.CountryCodeA2
                    </a>
                </td>
                <td>
                    <a asp-controller="Harbour" asp-action="HarbourCards" asp-route-countryCodeA2="@Model.CountryCodeA2" asp-route-harbourCode="@harbour.HarbourCode">
                        @harbour.HarbourCode
                    </a>
                </td>
                <td>@harbour.HarbourName</td>
                <td>
                    <a asp-action="Edit" asp-route-countryCodeA2="@Model.CountryCodeA2" asp-route-harbourId="@harbour.HarbourId" class="btn btn-sm btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-countryCodeA2="@Model.CountryCodeA2" asp-route-harbourId="@harbour.HarbourId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
