@using HarbourGuru.MVC.ViewModel
@model HomeIndexViewModel

@{
    ViewData["Title"] = "Welcome";
}

<h2>Countries</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"> </th>
            <th scope="col">Country Name</th>
            <th scope="col">Country Code (<i><small>ISO 3166-1 alpha-2</small></i>)</th>
            <th scope="col">Country Full Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model.Countries)
        {
            <tr>
                <th scope="row"><img src="@country.CountryFlagSmall" alt="Flag" style="border: 1px solid grey; padding: 0px;" /></th>
                <td>
                    <a asp-controller="Harbour" asp-action="Index" asp-route-countryCodeA2="@country.CountryCodeA2">
                        @country.CountryName
                    </a>
                </td>
                <td>@country.CountryCodeA2</td>
                <td>@country.CountryFullName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@country.CountryId" class="btn btn-sm btn-warning">
                        E
                    </a> |
                    <a asp-action="Delete" asp-route-id="@country.CountryId" class="btn btn-sm btn-danger">D</a>
                </td>
            </tr>
        }
    </tbody>
</table>
